<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PAYMENT</title>
	{% load static%}
	<link rel="stylesheet" href="{% static 'css/payment.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<header>
	<div class="container">
		<div class="left">
			<h3>BILLING ADDRESS</h3>
			<form action="payment.html" onsubmit="return check()">
				Full N ame
				<input type="text" id="name" placeholder="Enter name">
				Email
				<input type="text" id="mail" placeholder="Enter email">

				Address
				<input type="text" id="add" placeholder="Enter address">
				
				City
				<input type="text" id="city" placeholder="Enter City">
				<div id="zip">
					<label>
						State
						<select>
							<option>Choose State..</option>
							<option>Tamilnadu</option>
							<option>Kerala</option>
							<option>Aadhra Pradesh</option>
							<option>Karnataka</option>
						</select>
					</label>
						<label>
						Zip code
						<input type="number" id="zip" placeholder="Zip code">
					</label>
				</div>
			</form>
		</div>
		<div class="right">
			<h3>PAYMENT</h3>
			<form>
				Accepted Card <br>
				<img src="{% static 'image/card1.png' %}" width="100">
				<img src="{% static 'image/card2.png' %}" width="50">
				<br><br>

				Credit card number
			<input type="text" id="card" placeholder="Enter card number">
				
				Exp month
				<input type="text" id="mon" placeholder="Enter Month">
				<div id="zip">
					<label>
						Exp year
						<select>
							<option>Choose Year..</option>
							<option>2022</option>
							<option>2023</option>
							<option>2024</option>
							<option>2025</option>
						</select>
					</label>
						<label>
						CVV
						<input type="number" id="cvv" placeholder="CVV">
					</label>
				</div>
			<input type="submit" id="submit" value="Proceed to Checkout">
		</form>
		</div>
	</div>
</header>
</body>
</html>
